<div class="height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-blue{% endif %} bg-pink rounded-1 p-3">
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="f4 lh-condensed mb-1">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <p class="text-center"><i>{{ post.title }}</i></p>
      </a>
    </h1>
  </div>
  <p class="f5 text-gray text-center mb-0 mt-1">{{ post.subtitle }}</p>
  <div class="text-gray text-center mb-2 ws-normal">{{ post.date | date: "%b %d, %Y"}}</div>
</div>
