---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';



body {
  padding:2em;
  background-color:#dadada;
  font-family:sans-serif;
}

figure.folded {
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
  background:#fff;
  box-shadow:
    0.2em 0.2em 0.8em 0.2em
    rgba(76, 53, 73, 0.4);
}

img.fold-me-please {
  width:100%;
  height:100%;
  object-fit:cover;
  filter:
    hue-rotate(0deg)
    saturate(1)
    brightness(1)
    contrast(1)
    opacity(1);
  mix-blend-mode:normal;
  image-rendering:high-quality;
  transform:scale(1);
  visibility:visible;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

span.folds {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display:grid;
  grid-template-columns:auto auto auto auto auto;
}

span.cell {
  border:0px solid rgba(30, 10, 60, 0.4);
  font-size:1em;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* MAIN */
span.main {
  visibility:visible;
  filter:opacity(1);
}

span.main-1 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.20) 0%,
      rgba(76, 53, 73, 0.10) 100%
    );
  }

span.main-2 {
  background-image: 
    linear-gradient(
      to right,
      rgba(76, 53, 73, 0.04) 0%,
      rgba(76, 53, 73, 0.00) 100%
    );
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* VERTICAL */
span.vertical {
  visibility:visible;
  filter:opacity(1);
}

span.vertical-1 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.08) 0%,
      rgba(76, 53, 73, 0.02) 20%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.16) 94%,
      rgba(76, 53, 73, 0.10) 98%,
      rgba(76, 53, 73, 0.06) 100%
    );
}

span.vertical-2 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.06) 0%,
      rgba(76, 53, 73, 0.10) 2%,
      rgba(76, 53, 73, 0.16) 6%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.02) 100%
    );
}

span.vertical-3 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.30) 0%,
      rgba(76, 53, 73, 0.24) 2%,
      rgba(76, 53, 73, 0.15) 5%,
      rgba(76, 53, 73, 0.00) 28%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.16) 94%,
      rgba(76, 53, 73, 0.10) 98%,
      rgba(76, 53, 73, 0.06) 100%
    );
}

span.vertical-4 {
  background-image: 
    linear-gradient(
     to right,
      rgba(76, 53, 73, 0.06) 0%,
      rgba(76, 53, 73, 0.10) 2%,
      rgba(76, 53, 73, 0.16) 6%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.02) 100%
    );
}

span.vertical-5 {
  background-image: 
    linear-gradient(
     to right,    
      rgba(76, 53, 73, 0.30) 0%,
      rgba(76, 53, 73, 0.24) 2%,
      rgba(76, 53, 73, 0.15) 5%,
      rgba(76, 53, 73, 0.00) 28%,
      rgba(76, 53, 73, 0.02) 100%      
    );
}

/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */
/* ----- ----- ----- ----- ----- ----- ----- ----- ----- ----- */

/* HORIZONTAL */
span.horizontal {
  visibility:visible;
  filter:opacity(1);
}

span.horizontal-1 {
  background-image: 
    linear-gradient(
     to bottom,
      rgba(76, 53, 73, 0.02) 0%,
      rgba(76, 53, 73, 0.00) 72%,
      rgba(76, 53, 73, 0.15) 95%,
      rgba(76, 53, 73, 0.24) 100%
    );
}

span.horizontal-2 {
  background-image: 
    linear-gradient(
     to bottom,
      rgba(76, 53, 73, 0.02) 0%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.22) 96%,
      rgba(76, 53, 73, 0.08) 100%
    );
}

span.horizontal-3 {
  background-image: 
    linear-gradient(
     to top,
      rgba(76, 53, 73, 0.08) 0%,
      rgba(76, 53, 73, 0.00) 40%,
      rgba(76, 53, 73, 0.14) 100%
    );
}

span.horizontal-4 {
  background-image: 
    linear-gradient(
     to top,
      rgba(76, 53, 73, 0.02) 0%,
      rgba(76, 53, 73, 0.00) 60%,
      rgba(76, 53, 73, 0.18) 94%,
      rgba(76, 53, 73, 0.02) 100%
    );
}

/* ---------------------------------------------------
Written by STARIDAS GEOGRAPHY Making Maps Pretty 
info@staridasgeography.gr | www.staridasgeography.gr
Copyright 2021 | All Rights Reserved | CC BY-NC-SA 4.0
---------------------------------------------------- */



// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}
